@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using HighEnergyClub.PL.ViewModels
@model SaveArticleViewModel

<form method="post" asp-action="CreateActivity" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input required type="text" name="Title" class="form-control" id="title" placeholder="Название" />
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Desc:</label>
        <input required type="text" name="Description" class="form-control" id="description" placeholder="Описание" />
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Загрузите изображение:</label>
        <input class="form-control" name="Image" type="file" id="formFile">
    </div>
    <input type="submit" value="Сохранить" class="btn btn-primary" />
</form>