@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <h2>КЛУБНАЯ КАРТА</h2>
    <div class="path"><a href="/">главная /&nbsp;</a>клубная карта</div>
    <div class="club-card__block club-card__block_gym">
        <div class="row">
            <div class="col-12 caption">
                Тренажерный зал
            </div>
        </div>
        <div class="row club-card__block_title">
            <div class="col-sm-6 d-none d-sm-block">Вид Абонемента</div>
            <div class="col-6 col-sm-3">Стоимость</div>
            <div class="col-6 col-sm-3 d-sm-flex align-items-center justify-content-center">
                Для студентов и школьников
            </div>
        </div>
        <div class="main-table">
            <div class="row">
                <div class="col-12 col-sm-6">12 посещений 8:00-22:00 (месяц)</div>
                <div class="col-6 col-sm-3">500 грн.</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">Безлимит (месяц)</div>
                <div class="col-6 col-sm-3">550 грн.</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">Разовое посещение</div>
                <div class="col-12 col-sm-6">150 грн.</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">Разовая индивидуальная тренировка</div>
                <div class="col-12 col-sm-6">180 грн.</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">Создание программы тренировок на месяц</div>
                <div class="col-12 col-sm-6">500 грн.</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <p class="d-inline d-md-none">Месяц безлим.</p>
                    <p class="d-none d-md-inline">Месяц безлимита</p>
                    тренер + абонемент
                    <span>&nbsp;(АКЦИЯ)</span>
                </div>
                <div class="col-12 col-sm-6 sale-item">1800 грн.</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">Полугодовой безлимит<span>&nbsp;(АКЦИЯ)</span></div>
                <div class="col-12 col-sm-6 sale-item">2500 грн.</div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">Годовой безлимит<span>&nbsp;(АКЦИЯ)</span></div>
                <div class="col-12 col-sm-6 sale-item">4000 грн.</div>
            </div>
        </div>
    </div>

    <p class="text-upper">В цену всех абонементов включены консультационные услуги тренера</p>
    <div class="club-card__block club-card__group">
        <div class="row">
            <div class="col-12 caption">
                Групповые тренировки
            </div>
        </div>
        <div class="main-table">
            <div class="row">
                <div class="col-sm-6">8 посещений</div>
                <div class="col-sm-6">500 грн.</div>
            </div>
            <div class="row">
                <div class="col-sm-6">12 посещений</div>
                <div class="col-sm-6">600 грн.</div>
            </div>
            <div class="row">
                <div class="col-sm-6">Разовое посещение</div>
                <div class="col-sm-6">150 грн.</div>
            </div>
            <div class="row">
                <div class="col-sm-6">Индивидуальная тренировка</div>
                <div class="col-sm-6">250 грн.</div>
            </div>
        </div>
    </div>
    <div class="club-card__block club-card__joint">
        <div class="row">
            <div class="col-12 caption">
                Совместный абонемент
            </div>
        </div>
        <div class="row club-card__block_title">
            <div class="col-12 col-sm-6">8 + 8<br>посещений тренажерного зала и групповых тренеровок</div>
            <div class="col-12 d-sm-none">700 грн.</div>
            <div class="col-12 col-sm-6">БЕЗЛИМИТ НА ВСЁ<span>&nbsp;(АКЦИЯ)</span></div>
            <div class="col-12 d-sm-none">800 грн.</div>
        </div>
        <div class="main-table d-none d-sm-block">
            <div class="row">
                <div class="col-sm-6">700 грн.</div>
                <div class="col-sm-6">800 грн.</div>
            </div>
        </div>
    </div>
    <p class="text-upper">Клиенты продлевающие абонемент 12 месяцев подряд - один месяц в подарок.*</p>

    <p class="club-card__attention">
        Услуга заморозки предоставляется при условии продления абонемента. Заморозка осуществляется в день, когда
        клиент поставил в известность администратора. Абонемент на групповые занятия не замораживается и не
        переносится. * с 01.08.2018
    </p>
</div>