
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - High Energy Club</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">High Energy Club</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Контакти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Schedule">Розклад</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ClubCard">Клубна карта</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AboutUs"> Про нас</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Вхід</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Реєстрація</a>
                            </li>
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">Керування</a>
                            </li>
                        }
                        @if (User.IsInRole("coach"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Coach" asp-action="Index">Керування учнями</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                    <li class="nav-item">
                        
                        <a class="nav-link text-white" asp-controller="Account" asp-action="Profile">@User.Identity.Name </a>
                    </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input class=".bg-dark nav-link text-dark" type="submit" value="Выход" />
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="py-3 bg-dark text-white mt-auto">
        <div class="container  justify-content-center border-bottom pb-3 mb-3">
            <div class="row justify-content-center" id="contacts">
                <div class="col-lg-3 col-md-3 d-none d-sm-block footer-logo">
                    <img src="/images/footer-logo.png">
                    <br/>
                    Місце, де народжується енергія.
                </div>
                <div class="col-lg-3 col-md-2 col-sm-4 col-6">
                    <nav class="nav flex-column">
                        <h5>Навігація</h5>
                        <ul>
                            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Про нас</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Розклад</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Клубна карта</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Контакти</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Головна</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <nav class="footer__nav">
                        <h5 class="footer__block-title">Контактна інформація</h5>
                        <ul>
                            <li>М.Харьков, Вул. Валентиновская 23Е</li>
                            <li>
                                <a href="mailTo:Highen@ukr.net" class="footer__contacts_mail">Highen@ukr.net</a>
                            </li>
                            <li>
                                <a href="tel:+380994177731">+380 99 417 77 31</a>
                            </li>
                            <li>
                                <a href="tel:+380639177731">+380 63 917 77 31</a>
                            </li>
                            <li class="social-links">
                                <a href="https://www.instagram.com/highenergyclub/" target="_blank" rel="noreferrer">
                                    <img src="/images/insta-icon.svg">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <nav class="footer__nav">
                        <h5 class="footer__block-title">Графік роботи:</h5>
                        <ul>
                            <li>Пн-Сб&nbsp;<span>8:00-22:00</span></li>
                            <li>Вс&nbsp;<span>10:00-17:00</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <p class="text-center text-muted text-white">© 2021 Всі права захищені High ENERGY Club</p>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="js/main.a69e6859d715a895eaa9.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
